body {
    background-color:LightBlue;
    text-align:center;
}
#pic {
    margin-top:70px;
    transform:rotateZ(0deg);
    border:20px solid white;
    animation:xyz 0s linear 1 ;
    display:none;
    margin-left:55px;
}
#play {
    margin-top:200px;
}
@keyframes move {
    10%{transform:rotateZ(10deg);}
    25%{transform:rotateZ(15deg);}
    40%{transform:rotateZ(0deg);}
    50%{transform:rotateZ(-5deg);}
    70%{transform:rotateZ(-11deg);}
    80%{transform:rotateZ(0deg);}
    95%{transform:rotateZ(13deg);}
    100%{transform:rotateZ(0deg);}
    
}
@keyframes change {
    100%{transform:rotateY(360deg);}
}
button {
    display:none;
}
